<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post !t</title>
    <link rel="stylesheet" type="text/css" href="/css/frame.css">
    <link rel="stylesheet" type="text/css" href="/css/post.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>

        // 현재 파일의 div에 외부 HTML 내용을 삽입하는 함수
        async function insertExternalHtmlIntoDiv(divId, externalHtmlPath) {
                const divElement = document.getElementById(divId);
                const externalHtmlText = await fetchHtmlAsText(externalHtmlPath);
                divElement.innerHTML = externalHtmlText;

                showPopup();
        }

        // 외부 HTML(url)을 텍스트로 가져오는 함수
        async function fetchHtmlAsText(url) {
            const response = await fetch(url);
            return await response.text();
        }

        // 팝업 띄우기
        function showPopup() {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('popup').style.display = 'block';

            setTimeout(function() {
                document.getElementById('popup').style.opacity = '1';
            }, 50);
        }

        // 팝업 닫기
        function closeForm() {
            document.getElementById('overlay').style.display = 'none';
            document.getElementById('popup').style.display = 'none';
            document.getElementById('popup').style.opacity = '0';
        }

        // 글 조회
        $().ready(function() {
            $(".memoBox").click(function() {
                var postId = $(this).attr("id");
                insertExternalHtmlIntoDiv('popup', '/openPost?postNo=' + postId);
            });


        });

        // 글 수정
        function updatePost(postNo) {
            insertExternalHtmlIntoDiv('popup', '/updatePostForm?postNo=' + postNo);
        }

        // 글 삭제
        function deletePost(postNo) {
            window.location.href = "/deletePost?postNo=" + postNo;
        }

    </script>

</head>
<body>

<div class="wrapper">
    <!-- 헤더 -->
    <div class="headerPost"><div th:include="header"></div></div>


    <!-- 컨테이너 -->
    <div class="container">
    <div class="centerArea">
    <div class="postArea">

        <!-- 게시물 리스트 반복 출력 -->
        <div th:each="posts : ${posts}" class="postsBox">
            <img src="/img/tapeGreen.png" class="tapeImg">
            <div th:id="${posts.postNo}" class="memoBox">
                <div class="postsDate">
                    <span th:text="${posts.dueDate}"></span>
                </div>
                <div class="postsTitle">
                    <span th:text="${posts.title}"></span>
                </div>
            </div>
        </div>

        <!-- 새글 쓰기 -->
        <div class="postsBox">
            <img src="/img/tapeGreen.png" class="tapeImg">
            <div class="newPosts">
                <button id="newPostFormBtn" onclick="insertExternalHtmlIntoDiv('popup', '/popupNewWrite')"
                >+</button>
            </div>
        </div>

    <div id="popup" class="popup"></div>
    <div id="overlay" class="overlay"></div>

    </div><!-- end.postArea -->
    </div><!-- end.centerArea -->
    </div><!-- end.container -->


    <!-- 풋터 -->
    <div class="footer"><div th:include="footer"></div></div>
</div>

</body>
</html>