<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post !t</title>
    <link rel="stylesheet" type="text/css" href="/css/frame.css">
    <link rel="stylesheet" type="text/css" href="/css/user.css">
</head>
<body>

<div class="wrapper">

    <div class="header">
        <div th:include="header"></div>
    </div>

    <div class="container">
        <div class="boxDesign1">

            <div class="infoArea">

            </div>
            <div class="btnArea">

            </div>


        </div><!-- end.boxDesign1 -->
    </div><!-- end.container -->

    <div class="footer">
        <div th:include="footer"></div>
    </div>

</div>

</body>
</html>