<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post !t:아이디</title>
    <link rel="stylesheet" type="text/css" href="/css/frame.css">
    <link rel="stylesheet" type="text/css" href="/css/user.css">
</head>
<body>


<div id="wrapper" class="wrapper">
<!-- 헤더 -->
<div class="header"><div th:include="header"></div></div>


    <!-- 컨테이너 -->
    <div class="container">
    <div class="boxDesign1">

        <form action="/findid" method="post" class="colFormBox">
            <div class="inputBox">
                <span class="text">이메일</span>
                <input type="text" id="email" name="email" class="lenL" autocomplete="off" spellcheck="false"><br>
            </div>
            <button type="submit" class="findBtn">아이디 찾기</button>
        </form>

    </div><!-- end.boxDesign1 -->
    </div><!-- end.container -->


<!-- 풋터 -->
<div class="footer"><div th:include="footer"></div></div>
</div>

</body>
</html>