<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post !t:아이디</title>
    <link rel="stylesheet" type="text/css" href="/css/frame.css">
    <link rel="stylesheet" type="text/css" href="/css/user.css">
</head>
<body>

<div id="wrapper" class="wrapper">

    <div class="header">
        <div th:include="header"></div>
    </div>

    <div class="container">
        <div class="boxDesign3">

            <div th:each="user : ${users}" class="infoArea idList">
                <div>
                    <span th:text="${user.id}"></span>
                </div>
            </div>

            <div class="btnArea">
                <a href="/mainpage"><button type="submit" class="findBtn">로그인</button></a>
                <a href="/findpw-form"><button type="submit" class="findBtn">비밀번호 찾기</button></a>
            </div>


        </div><!-- end.boxDesign1 -->
    </div><!-- end.container -->

    <div class="footer">
        <div th:include="footer"></div>
    </div>

</div>

</body>
</html>