<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post !t:회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/frame.css">
    <link rel="stylesheet" type="text/css" href="/css/user.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>

    $(function() {

    // 반복되는 부분 추출
    function sendBlurRequest(key, value, resultId) {
        var jsonData = {};
        jsonData[key] = value;

        $.ajax({
            type: "POST",
            url: "/beforeJoin",
            data: JSON.stringify(jsonData),
            contentType: "application/json",
            success: function (result) {
                $("#" + resultId)
                    .text(result)
                    .css({
                        'color': result.indexOf("사용가능한") !== -1 ? 'green' : 'red'
                    });
            },
            error: function (e) {
                console.error(e);
            }
        });
    } // 반복되는 부분 추출 끝

    // id, pw, nickName, email - blur 이벤트
    $("#id").blur(function () {
        sendBlurRequest($(this).attr("id"), $(this).val(), "idCheck");
    });
    $("#password").blur(function () {
        sendBlurRequest($(this).attr("id"), $(this).val(), "pwCheck");
    });
    $("#nickName").blur(function () {
        sendBlurRequest($(this).attr("id"), $(this).val(), "nnCheck");
    });
    $("#email").blur(function () {
        sendBlurRequest($(this).attr("id"), $(this).val(), "emailCheck");
    });


    // 클릭 회원가입
    $("#joinBtn").click(function() {

            var jsonJoin = {};
            var formData = $("#joinForm").serializeArray();
            $(formData).each(function(index, obj){
                jsonJoin[obj.name] = obj.value;
            });

            $.ajax({
                type: "POST",
                url: "/joinCheck",
                data: JSON.stringify(jsonJoin),
                contentType:  "application/json",
                success: function(result) {
                    if (result) {
                        $("#joinForm").submit();
                    } else {
                        alert("회원가입 불가");
                    }
                }, error: function(e) {
                    console.error(e);
                }
            });

    }); // 클릭 회원가입 끝
    });
    </script>

</head>
<body>

<div class="wrapper">
<!-- 헤더 -->
<div class="header"><div th:include="header"></div></div>


    <!-- 컨테이너 -->
    <div class="container">
        <div class="boxDesign2">

            <form action="/join" id="joinForm" method="post" class="colFormBox">

                <div class="inputBox">
                    <!-- 아이디 -->
                    <span class="text">아이디</span>
                    <input type="text" id="id" name="id" class="lenL"
                           autocomplete="off" spellcheck="false" placeholder="필수입력"><br>
                    <span id="idCheck" class="checkText"></span><br>
                    <!-- 비밀번호 -->
                    <span class="text">비밀번호</span>
                    <input type="password" id="password" name="password" class="lenL"
                           autocomplete="off" spellcheck="false" placeholder="필수입력"><br>
                    <span id="pwCheck" class="checkText"></span><br>
                    <!-- 닉네임 -->
                    <span class="text">닉네임</span>
                    <input type="text" id="nickName" name="nickName" class="lenL"
                           autocomplete="off" spellcheck="false" placeholder="필수입력"><br>
                    <span id="nnCheck" class="checkText"></span><br>
                    <!-- 이메일 -->
                    <span class="text">이메일</span>
                    <input type="text" id="email" name="email" class="lenL"
                           autocomplete="off" spellcheck="false" placeholder="선택입력"><br>
                    <span id="emailCheck" class="checkText"></span>
                </div>

                <button type="button" id="joinBtn" class="joinBtn">회원가입</button><br>
                <span id="finalCheck" class="checkText"></span>

            </form>

        </div><!-- end.boxDesign2 -->
    </div><!-- end.container -->


<!-- 풋터 -->
<div class="footer"><div th:include="footer"></div></div>
</div>

</body>
</html>