<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post !t:비밀번호</title>
    <link rel="stylesheet" type="text/css" href="/css/frame.css">
    <link rel="stylesheet" type="text/css" href="/css/user.css">

    <script>

    window.onload = function() {
        var count = 1;
        var countdownElement = document.getElementById("countArea");

        var updateCountDown = function() {
            if (count > 5) {
                window.location.href = "/mainpage";
            } else {
                countdownElement.innerHTML = 5-count;
                count++;
            }
        }

        setInterval(updateCountDown, 1200);
    };

    </script>

</head>
<body>

<div id="wrapper" class="wrapper">

    <div class="header">
        <div th:include="header"></div>
    </div>

    <div class="container">
        <div class="boxDesign3">

        <div class="infoArea">
            <span><span class="redColor">비밀번호 변경</span>이 완료되었습니다.</span>
            <span>5초뒤에 로그인화면으로 이동합니다.</span>
            <div id="countArea" class="countArea">5</div>
        </div>

        </div><!-- end.boxDesign1 -->
    </div><!-- end.container -->

    <div class="footer">
        <div th:include="footer"></div>
    </div>

</div>

</body>
</html>