.centerArea {
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    padding: 50px;
}

/* 컨테이너 내부 게시물 공간 전체 flex-wrap: wrap 을 위해 만들었음  */
.postArea {
    /*background-color: blue;*/
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px; }

/* 반복하는 영역 전체 (>tape, >memo) */
.postsBox {
    width: 200px;
    height: 190px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    position: relative; }

.tapeImg {
    width: 110px;
    display: block;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 1; }

.newPosts,
.memoBox {
    width: 100%;
    height: 158px;
    background-color: #DFE7E1;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    position: absolute;
    padding-top: 11px; }

.newPosts {
    align-items : center;
    top: 22px; }

.memoBox {
    flex-direction: column;
    bottom: 0px;
    gap: 10px; }

/* 게시물 리스트 내용 css */
.postsDate {
    height: 15%;
    padding: 0 10px; }

.postsDate span {
    color: gray;
    font-size: 10pt; }

.postsTitle {
    height: 60%;
    padding: 0 22px 0 30px;
    letter-spacing: 0.1em;
    line-height: 140%;
    display : flex;
    justify-content : center;
    align-items : center;
    margin-bottom: 20px; }

.postsTitle span {
    font-size: 14pt; }

.newPosts button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: white;
    font-size: 20px; }

.newPosts button:hover {
    background-color: #a8c3bc; }

.newPosts button:active {
    font-weight: bold;
    color: #008080; }

/* 새글 작성 폼 팝업 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
    z-index: 1; }

.popup {
    /* 화면 정가운데에 정확히 위치시키는 css 세트 */
    top: 50%;                           /* 세트 1 */
    left: 50%;                          /* 세트 2 */
    transform: translate(-50%, -50%);   /* 세트 3 */
    position: fixed;
    width: 300px;
    height: 340px;
    background-color: rgba(71, 98, 80, 0.6);    /* 1에 가까울수록 진해짐 */
    border: none;
    border-radius: 5px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 2; }


/* 팝업 디자인 */
.postBox {
    display: flex;
    flex-direction: column;
    align-items: center; }

.postTitle,
.postContent,
.postDate {
    width: 250px;
    border: none;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    margin-top: 10px; }

.postTitle
.postDate {
    height: 28px; }

.postContent {
    height: 140px;
    resize: none; }

.closePostBtn {
    font-size: 16pt;
    margin-left: auto;
    background: transparent;
    border: none; }

.closePostBtn:hover {
    color: white;
}

.writePostBtn {
    font-size: 11pt;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 4px;
    background-color: white;
    height: 28px;
    width: 100px;
    margin-top: 20px; }

.writePostBtn:hover {
    background-color: #DFE7E1;
}

.writePostBtn:active {
    color: #8FBC8F;
    font-weight: bold;
}


