@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body { background-color: #e3e8e5; }
span, button, input { font-family: 'Pretendard'; }

/* 핵심 기능을 담는 외곽 box 디자인 */
.boxDesign1,
.boxDesign2,
.boxDesign3 {
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: white; }

.boxDesign1 {
    position: absolute;
    top: 8vh;
    min-height: 200px; }

.boxDesign2 {
    margin: 4vh 0 8vh 0;
    padding-top: 25px;
    min-height: 340px; }

.boxDesign3 {
    position: absolute;
    top: 8vh;
    min-height: 200px;
    padding: 10px 0;
}

/* 폼 내부 구성 레이아웃 */
.rowFormBox,
.colFormBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; }

.rowFormBox {
    flex-direction: row; }

.colFormBox {
    flex-direction: column; }


/* <input> 으로 입력받는 부분 */
.inputBox {
    margin: 10px; }

.inputBox .textL,
.inputBox .text,
.inputBox input {
    letter-spacing: 0.02em;
    display: inline-block; }

.inputBox .text {
    width: 85px;
    font-size: 16pt; }

.boxDesign1 .text,
.boxDesign3 .text {
    padding-top: 2px;
    margin: 15px 5px 3px 1px; }

.boxDesign2 .text {
    margin: 5px 1px 3px 1px; }

.inputBox .textL {
    width: 110px;
    padding-right: 15px;
    font-size: 16pt;
    margin-top: 15px;
}

.inputBox input {
    height: 30px;
    padding-left: 10px;
    font-size: 11pt;
    border: none;
    border-radius: 3px;
    background-color: #E3E4E4; }

.inputBox input::placeholder {
    font-size: 10pt; }

.inputBox input:focus {
    outline: 2px solid #476250;
    background-color: #fffabd; }

.lenL {
    width: 200px; }

.lenS {
    width: 160px; }


/* 검증 메시지 */
.checkText,
.checkText2 {
    color: red;
    font-size: 9pt;
    display: block;
    margin-top: 3px;
    margin-bottom: -10px;}

.checkText {
    padding-left: 94px; }
.checkText2 {
    padding-left: 134px; }

/* 버튼 공통 디자인 */
button {
    font-size: 13pt;
    letter-spacing: 0.1em;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #668c73; }

button:hover {
    background-color: #476250;
    font-weight: bold; }

button:active {
    color: #28372d;
    font-weight: bold; }


/* 버튼 개별 디자인 */
.loginBtn {
    height: 82px;
    width: 90px;
    margin-top: 16px; }

.joinBtn {
    height: 36px;
    width: 140px;
    margin: 20px 0 24px; }

.findBtn {
    height: 30px;
    padding: 0 20px;
    margin: 17px 0 12px;
}

/* 일부 페이지만 사용되는 클래스 */
.etcBox {
    font-size: 14pt;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 20px; }

.etcBox a {
    margin: 5px; }

.btnArea {
    text-align: center;
    margin: 23px 15px; }

.btnArea button {
    margin-right: 10px; }

.idList {
    padding-top: 20px;}


/* 카운트다운 css */
.infoArea {
    font-size: 15pt;
    letter-spacing: 0.02em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px; }

.countArea {
    height: 70px;
    width: 70px;
    line-height: 70px;
    border: none;
    border-radius: 50%;
    margin-top: 17px;
    background-color: #0a3711;
    color: white;
    font-size: 20pt;
    font-weight:bold;
    font-family: 'Pretendard'; }

.redColor {
    color: red; }