@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body { background-color: #e3e8e5; }
span, button, input { font-family: 'Pretendard'; }

/* 핵심 기능을 담는 외곽 box 디자인 */
.boxDesign1,
.boxDesign2 {
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: white; }

.boxDesign1 {
    position: absolute;
    top: 8vh;
    min-height: 200px; }

.boxDesign2 {
    margin: 4vh 0 8vh 0;
    padding-top: 25px;
    min-height: 340px; }


/* 폼 내부 구성 레이아웃 */
.rowFormBox,
.colFormBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; }

.rowFormBox {
    flex-direction: row; }

.colFormBox {
    flex-direction: column; }


/* <input> 으로 입력받는 부분 */
.inputBox {
    margin: 10px; }

.inputBox .text,
.inputBox input {
    letter-spacing: 0.02em;
    display: inline-block; }

.inputBox .text {
    width: 85px;
    font-size: 16pt; }

.boxDesign1 .text {
    padding-top: 2px;
    margin: 15px 5px 3px 1px; }

.boxDesign2 .text {
    margin: 5px 1px 3px 1px; }

.inputBox input {
    font-family: 'Pretendard';
    height: 30px;
    padding-left: 10px;
    font-size: 11pt;
    border: none;
    border-radius: 3px;
    background-color: #E3E4E4; }

.inputBox input::placeholder {
    font-size: 10pt; }

.inputBox input:focus {
    outline: 2px solid #476250;
    background-color: #fffabd; }

.lenL {
    width: 200px; }

.lenS {
    width: 160px; }


/* 검증 메시지 */
.checkText {
    padding-left: 94px;
    color: red;
    font-size: 9pt;
    display: block;
    margin-top: 3px;
    margin-bottom: -10px;}


/* 버튼 공통 디자인 */
button {
    font-size: 13pt;
    letter-spacing: 0.1em;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #668c73; }

button:hover {
    background-color: #476250;
    font-weight: bold; }

button:active {
    color: #28372d;
    font-weight: bold; }


/* 버튼 개별 디자인 */
.loginBtn {
    height: 82px;
    width: 90px;
    margin-top: 16px; }

.joinBtn {
    height: 36px;
    width: 140px;
    margin: 20px 0 24px; }


/* 메인페이지에서만 사용되는 클래스 */
.etcBox {
    font-size: 14pt;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 20px; }

.etcBox a {
    margin: 5px; }