<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post !t:실패</title>
    <link rel="stylesheet" type="text/css" href="/css/frame.css">
    <link rel="stylesheet" type="text/css" href="/css/user.css">
</head>
<body>

<div class="wrapper">
<!-- 헤더 -->
<div class="header"><div th:insert="~{header}"></div></div>

    <div class="container">
    <div class="boxDesign3">

            <div class="infoArea">
                <span class="infoError">서비스에 접근할 수 없습니다.</span>
            </div>

            <div class="btnArea">
                <a href="/mainpage"><button type="submit" class="findBtn">메인페이지</button></a>
                <a href="/findid-form"><button type="submit" class="findBtn">아이디 찾기</button></a>
            </div>

    </div><!-- end.boxDesign3 -->
    </div><!-- end.container -->

<!-- 풋터 -->
<div class="footer"><div th:insert="~{footer}"></div></div>
</div>

</body>
</html>