<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post !t:my</title>
</head>
<body>

로그인 후 포스트 페이지<br>
<div th:text="${session.pinNo}"></div>
<div th:text="${session.nickName}"></div>

<a href="/logout">로그아웃 </a>

<br><br>

<a href="/">새글쓰기 </a>
<br><br><br>

<div th:each="post : ${posts}">
    <!-- 각 항목을 표시 -->
    <div>
        <span>제목:</span>
        <span th:text="${post.title}"></span>
    </div>
    <div>
        <span>내용:</span>
        <span th:text="${post.content}"></span>
    </div>
    <div>
        <span>마감일:</span>
        <span th:text="${post.dueDate}"></span>
    </div>
    <hr/>
</div>

</body>
</html>