<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>post !t:회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/test.css">
</head>
<body>

<div class="wrapper">

    <div class="header">
        헤더
    </div>

    <div class="container">
        <div class="boxDesign2">

            <form action="/join" method="post" class="joinFormBox">

                <br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1
                <br>1<br>1<br>1<br>1<br>1<br>1<br>1<br>1

            </form>

        </div><!-- end.boxDesign2 -->
    </div><!-- end.container -->

    <div class="footer">
        풋터
    </div>

</div>

</body>
</html>